
@{
    ViewBag.Title = "Create";
}

<h2>Create Student</h2>
<form method="post">
    <input type="text" class="form-control" name="Student_Name" placeholder="Student Name" />
    <input type="text" class="form-control" name="Email" placeholder="Email" />
    <input type="text" name="Dept_Name" class="form-control" placeholder="Dept Name" />
    <input type="text" name="Foreign_Dept_Id" class="form-control" placeholder="Dept ID" />
    <input type="submit" value="Create Student" class="btn btn-primary" />

</form>
