@{
    ViewBag.Title = "Create";
}

<h2>Create Department</h2>
<form method="post">

    <input type="text" name="Dept_Name" class="form-control" />
    <input type="submit" class="btn btn-success" value="Create" />
</form>

