
@{
    ViewBag.Title = "create";
}

<h2>create</h2>

<form method="post">
    <input type="text" class="form-control" name="Name" placeholder="Name" />
    <input type="text" class="form-control" name="Price" placeholder="Price" />
    <input type="text" class="form-control" name="Qty" placeholder="Quantity" />
    <input type="text" class="form-control" name="Description" placeholder="Description" />
    <input type="submit" value="Product Create" class="btn btn-primary" />
</form>
