
@{
    ViewBag.Title = "Edit";
}


<a href="/Product/Create" class="btn btn-light">Create Product</a>
</br>
</br>
<h2>Edit Your Product</h2>
</br>
<form method="post">
    Name<input type="text" class="form-control" name="Name" placeholder="" value="@Model.Name" />
    Price<input type="text" class="form-control" name="Price" placeholder="" value="@Model.Price" />
    Quantity<input type="text" class="form-control" name="Qty" placeholder="" value="@Model.Qty" />
    Description<input type="text" class="form-control" name="Description" placeholder="" value="@Model.Description" />
    </br>
    <input type="submit" value="Edit Done" class="btn btn-primary" />
</form>


