
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form  method="post">
    <div>
        <label for="name">Username</label>
        <input type="text" name="name" id="name" placeholder="Enter username" required />
    </div>
    <br />
    <div>
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" placeholder="Enter password" required />
    </div>
    <br />
    <button type="submit">Login</button>
</form>